@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.arrow-container {
    width: 1em;
    height: 1em;
    position: relative;
}

.arrow {
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    top: 0.2em;
}

.arrow.down {
    border-top: 0.5em solid currentColor; /* Use current text color */
}

.arrow.up {
    border-bottom: 0.5em solid currentColor; /* Use current text color */
    top: 0.4em;
}

